
body {
  color: whitesmoke;
  background-image: url(/images/GoThrones.jpg);
  background-size: auto;
  margin-left: 5%;
}

/*Question presentation for the game */

 .answers {
  padding: 1px 0px;
 }

.current_score {
	color: orange;
}

.instruction {
  width: 75%;
  color: orange;
  font-size: 1.5em;
}

.question {
    color: greenyellow;
}

.textbox {
  color: steelblue;
  padding: 5px;
  text-align: center;
  border-radius: 8px;
  height: 24px;
}

.button {
    background-color: white;
    color: red;
    border-radius: 10px;
    padding: 5px;
    font-size: 1em;
    color: darkolivegreen;
    width: 150px;
    height: 40px;
    font-weight: bold;
    position: relative;
    margin: 2% 0% 0% 0%;
}

/*Card class for the game */
.card {
    border: 1px solid grey;
    padding: 25px 25px 25px 50px;
    border-radius: 50px;
    box-shadow: 9px 7px 58px grey;
    width: 65%;
    max-width: 700px;
    min-width: 250px;
    position: relat;
}

.feedback {
	color: yellow;
	width: 90%;
}

/*Score erb page for the game */

.leaderboard {
    padding: 25px 25px 25px 50px;
    border-radius: 50px;
    width: 65%;
    height: 90%;
}

.results{
  margin; 0% 0% 0% 2%;
}

table {
  width: 400px;
  float: left;
  font-size: 1.5em;
  color: orange;
}

.columns {
  color: blue;
}

.replay_button{
  margin: 2%;
  float: left;
  font-size: 1.5em;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  font-size: 1em;
  width: 150px;
  height: 40px;
  font-weight: bold;
  position: relative;
  clear: both;
}


#score{
  position: absolute;
  background-color: white;
  color: steelblue;
  border-radius: 30px;
  left: 20%;
  top: 20%;
  padding: 5%;
}
