
<div class="admin">
<form action="/admin/create_deck" method="post">

<input type="text" placeholder="Deck Name" name="title">
<br>
<br>

<input type="text" placeholder="Question" name="question1">
<input type="text" placeholder="Answer" name="answer1">
<hr>
<input type="text" placeholder="Question" name="question2">
<input type="text" placeholder="Answer" name="answer2">
<hr>
<input type="text" placeholder="Question" name="question3">
<input type="text" placeholder="Answer" name="answer3">
<hr>
<input type="text" placeholder="Question" name="question4">
<input type="text" placeholder="Answer" name="answer4">
<hr>
<input type="text" placeholder="Question" name="question5">
<input type="text" placeholder="Answer" name="answer5">
<hr>
<input type="text" placeholder="Question" name="question6">
<input type="text" placeholder="Answer" name="answer6">
<hr>
<input type="text" placeholder="Question" name="question7">
<input type="text" placeholder="Answer" name="answer7">
<hr>
<input type="text" placeholder="Question" name="question8">
<input type="text" placeholder="Answer" name="answer8">
<hr>
<input type="text" placeholder="Question" name="question9">
<input type="text" placeholder="Answer" name="answer9">
<hr>
<input type="text" placeholder="Question" name="question10">
<input type="text" placeholder="Answer" name="answer10">
<br>

<input type="submit" value="create deck">

</form>
</div>