
<div class="admin">
<form action="/admin/create_deck" method="post">

<input type="text" placeholder="Deck Name" name="title"><br>

<input type="text" placeholder="Question" name="question1">
<input type="text" placeholder="Answer" name="answer1">
<input type="text" placeholder="Dummy answer" name="dummyanswer1_1">
<input type="text" placeholder="Dummy answer" name="dummyanswer1_2">
<input type="text" placeholder="Dummy answer" name="dummyanswer1_3">
<hr>
<input type="text" placeholder="Question" name="question2">
<input type="text" placeholder="Answer" name="answer2">
<input type="text" placeholder="Dummy answer" name="dummyanswer2_1">
<input type="text" placeholder="Dummy answer" name="dummyanswer2_2">
<input type="text" placeholder="Dummy answer" name="dummyanswer2_3">
<hr>
<input type="text" placeholder="Question" name="question3">
<input type="text" placeholder="Answer" name="answer3">
<input type="text" placeholder="Dummy answer" name="dummyanswer3_1">
<input type="text" placeholder="Dummy answer" name="dummyanswer3_2">
<input type="text" placeholder="Dummy answer" name="dummyanswer3_3">
<hr>
<input type="text" placeholder="Question" name="question4">
<input type="text" placeholder="Answer" name="answer4">
<input type="text" placeholder="Dummy answer" name="dummyanswer4_1">
<input type="text" placeholder="Dummy answer" name="dummyanswer4_2">
<input type="text" placeholder="Dummy answer" name="dummyanswer4_3">
<hr>
<input type="text" placeholder="Question" name="question5">
<input type="text" placeholder="Answer" name="answer5">
<input type="text" placeholder="Dummy answer" name="dummyanswer5_1">
<input type="text" placeholder="Dummy answer" name="dummyanswer5_2">
<input type="text" placeholder="Dummy answer" name="dummyanswer5_3">
<hr>
<input type="text" placeholder="Question" name="question6">
<input type="text" placeholder="Answer" name="answer6">
<input type="text" placeholder="Dummy answer" name="dummyanswer6_1">
<input type="text" placeholder="Dummy answer" name="dummyanswer6_2">
<input type="text" placeholder="Dummy answer" name="dummyanswer6_3">
<hr>
<input type="text" placeholder="Question" name="question7">
<input type="text" placeholder="Answer" name="answer7">
<input type="text" placeholder="Dummy answer" name="dummyanswer7_1">
<input type="text" placeholder="Dummy answer" name="dummyanswer7_2">
<input type="text" placeholder="Dummy answer" name="dummyanswer7_3">
<hr>
<input type="text" placeholder="Question" name="question8">
<input type="text" placeholder="Answer" name="answer8">
<input type="text" placeholder="Dummy answer" name="dummyanswer8_1">
<input type="text" placeholder="Dummy answer" name="dummyanswer8_2">
<input type="text" placeholder="Dummy answer" name="dummyanswer8_3">
<hr>
<input type="text" placeholder="Question" name="question9">
<input type="text" placeholder="Answer" name="answer9">
<input type="text" placeholder="Dummy answer" name="dummyanswer9_1">
<input type="text" placeholder="Dummy answer" name="dummyanswer9_2">
<input type="text" placeholder="Dummy answer" name="dummyanswer9_3">
<hr>
<input type="text" placeholder="Question" name="question10">
<input type="text" placeholder="Answer" name="answer10">
<input type="text" placeholder="Dummy answer" name="dummyanswer10_1">
<input type="text" placeholder="Dummy answer" name="dummyanswer10_2">
<input type="text" placeholder="Dummy answer" name="dummyanswer10_3">
<br>

<input type="submit" value="create deck">

</form>
</div>