<div class=congrats>
  <h1>Your final score is: <%=session['current_score']%></h1>
</div><br>

<!-- <div class=congrats>
  <h1>You've achieved a level of: [level HERE]</h1>
</div>
<br><br> -->

<div class = "leaderboard">
  <h1>Leaderboard</h1>

  <ol>
    <li>list 1</li>
    <li>list 1</li>
    <li>list 1</li>
  </ol>




</div>

<br><br>

<div class= "button" class="replay">
  <a href="/play/0">Play again?</a>
</div>
<br><br>

<div class= "button" class="replay">
 <a href="/">New Player?</a>
</div>


