<div class=congrats>
  <h1>Your final score is: [SCORE HERE]</h1>
</div><br>

<div class=congrats>
  <h1>You've achieved a level of: [level HERE]</h1>
</div>
<br><br>

<div class = "leaderboard">
  <h1>Leaderboard</h1>

  <br>
  You scored a <%=session['current_score']%> out of
</div>

<br><br>

<div class= "button" class="replay">
  <a href="/">Play again?</a>
</div>
<br><br>

<div class= "button" class="replay">
 <a href="/">New Player?</a>
</div>


