

<div class="title">
  <h1>The Game of Thrones</h1>
  <h2>Are you worthy?</h2>
</div>

<div class="instruction">

  <p>
    The series, set on the fictional continents of Westeros and Essos at the end of a decade-long summer, interweaves several plot lines with a broad ensemble cast. The first narrative arc follows a civil war among several noble houses for the Iron Throne of the Seven Kingdoms; the second covers the rising threat of the impending winter and the legendary creatures and fierce peoples of the North; the third chronicles the attempts of the exiled last scion of the realm's deposed ruling dynasty to reclaim the throne.
  </p>
</div><br>

<h3>Enter the game, if you dare!</h3>

<div class="registration">

<button type="button" id="twitter-login" class="btn btn-info">
            <i class="fa fa-twitter fa-lg"></i>
            Login with Twitter
          </button>


  <form action="/register" method="POST">
    <input class="textbox" type="text" name="username" placeholder="Your name here">
    <input class="button" type="submit" value="Submit">
  </form>


      <script src="https://cdn.firebase.com/js/client/2.0.2/firebase.js"></script>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src= "js/base.js"></script>
