<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <!-- animated.css provide access to text animations (not working)-->
<!--   See http://daneden.github.io/animate.css/
   <link rel="stylesheet" href="animate.min.css"> -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>


    <link rel="stylesheet" href="stylesheets/reset.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">


  <title>Game of thrones game</title>
</head>
<header>
<%if current_user%>
  <%if current_user==User.find_by_username('kailash')%>
    logged in as <%=current_user.username%> <a href="/logout">logout</a> - <a href="/play/0">Play a game</a>-<a href="/admin">Admin Panel</a>
  <%else%>
    logged in as <%=current_user.username%> <a href="/logout">logout</a> -<a href="/play/0">Play a game</a>-
  <%end%>

<%else%>
  <a href="/">Login to play</a>
<%end%>

</header>
<body class="main">
  <%= yield %>
</body>
</html>
